:root{
    --main-color:rgb(232,82,5);
}
a{
    color:#252a2b;
}
.header{
    height: 100px;
    border-bottom: 1px solid rgb(247,247,247);
}
.header-topbar{
    background-color: rgb(247,247,247);
    padding: 0 85px;
    text-align: center;
}
.header-topbar p {
    padding: 0.25rem 0;
    line-height: 1.3125rem;
    margin-bottom: 0;
    font-size: 0.75rem;
    color: rgb(64,67,64);
}
.header-bottom{
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 85px; */
}
.header-bottom .header-logo .home-link img{
    width: 14.7rem;
    height: 3.44rem;
}
.header-nav nav{
    text-transform: uppercase;
    z-index: 10;
}
.header-nav nav>li{
    display: inline-block;
    float: none;
    position: relative;
}
.header-nav nav>li>a{
    display: block;
    margin: 0 12px;
    color: #252a2b;
    font-size: 15px;
    font-weight: 400;
    line-height: 70px;
    position: relative;
}
/* .header-nav nav>li:first-child>a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #5c5c5c;
} */

.header-nav nav .active{
    width: 90%;
    text-align: center;
    border-bottom: 2px solid #5c5c5c;
}
.header-nav nav >li>a:hover::before{
    border: none;
}
.header-nav nav .icon-down{
    display: inline-block;
    font-size: 9px;
    margin-left: 6px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.header-nav nav a:hover{
    color: var(--main-color);

}
@keyframes border-line{
    to{
        width: 100%;
        height: 1px;
        background-color: red;
    }
}
.header-nav nav a:hover >.icon-down{
    transform: rotate(180deg);
}
.header-nav nav a .icon-vertical{
    font-size: 10px;
    text-indent: 5px;
    padding-right: 5px;
}
.header-nav nav a:hover >.icon-vertical,.header-nav nav a:hover >.icon-down{
    transform: rotate(180deg);
}

/* sub menu */

.header-nav nav ul.submenu{
    background-color: #fff;
    transform-origin: 0 0;
    display: none;
    animation: scroll_menu_from 0.1s ease 1 alternate forwards ;
    opacity: 0;
    position: absolute;
    min-width: 120px;
    top:98%;left: 0;
    z-index: 999;
    border-top: 2px solid #5c5c5c;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.header-nav nav ul.submenu li{
    position: relative;
}
.header-nav nav ul.submenu li:not(:first-child) {
    border-top: 1px solid #ecf0f1;
}
.header-nav nav ul.submenu a{
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 14px;
}
.header-nav nav>li:hover .submenu{
    display: block;
    animation: scroll_menu_to 0.4s ease 1 alternate forwards ;
}


/* submenu2 */
.header-nav nav ul.submenu2{
    background-color: #fff;
    transform-origin: 0 0;
    animation: scroll_menu_left 0.3s ease 1 alternate forwards ;
    position: absolute;
    min-width: 120px;
    top:-2%;left: 100%;
    z-index: 999;
    border-top: 2px solid #5c5c5c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.header-nav nav ul.submenu>li:hover .submenu2{
    animation: scroll_menu_right 0.4s ease 1 alternate forwards ;
}


/* user */
.header-bottom .header-user{
    height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.header-bottom .header-user i{ 
    margin-left: 12px;
    padding: 0 10px;
    font-size: 30px;
    line-height: 40px;
    color: tomato;
    display: block;
}

.header-bottom .header-user-account{
    position: relative;
}
.header-user-account-dropdown{
    position: absolute;
    top:7px;right:-85px;
    z-index: 1000;
    padding:20px 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* height: 310px; */
    width: 340px;
}
.header-user-account-dropdown::after,.header_action-auth::after{
    content:'';
    position: absolute;
    top: -10px;right: 20%;
    width: 0;
    height: 0;
    border-width:0 10px 10px 10px;
    border-color:transparent transparent #f5f5f5 transparent;
    border-style: solid;
}

.header-user-account-dropdown .site_account-panel header{
    text-align: center;
}
.header-user-account-dropdown header h2{
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 500;
}
.header-user-account-dropdown header p {
    font-size: 12px;
    color:rgb(147,154,159);
    line-height: 21px;
}
.header-user-account-dropdown .site_account_inner .customer_login input{
    border: none;
    outline: none;
    border: 1px solid rgb(212,214,216);
    border-radius: 2px;
    width: 100%;
    background-color: rgb(232,240,254);
    /* padding: 10px 0; */
    font-size: 12px;
    padding: 12px 10px;
}
.header-user-account-dropdown .site_account_inner .customer_login .customer_login_email{
    margin-bottom: 12px;
}


.header-user-account-dropdown .site_account_inner .site_account_secondary{
    margin-top: 16px;
    font-size: 12px;
}
.site_account_inner .site_account_secondary{
    text-align: center;
}
.site_account_inner .site_account_secondary .site-recover-password{
    color: #e85205;
    transition: color 0.2s ease-in-out;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

/* logged in */
.header_action-auth{
    position: absolute;
    top:7px;right:-65px;
    z-index: 1000;
    padding:20px 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: auto;
    min-width: 250px;
}
.site_account_info .site_account_header{
    text-align: center;
    border-bottom: 1px solid #ededed;
    padding: 0 0 10px;
    margin-bottom: 12px;
}
.site_account_info header h2{
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 500;
}
.site_account_info ul li{
    padding: 0 4px;
    margin-bottom: 10px;
}

/* search */
.header-user-account-dropdown.drop-search{
    width: 398px;
    position: absolute;
    top:7px;right: -96px;
}
.search{
    font-size: 17px;
    color: #252a2b;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
    font-weight: 500;
    padding: 6px 10px;
    text-align: center;
    border-bottom: 1px solid #ededed;
}
.site_account_inner .ant-form{
    position: relative;
}
#inputSearchAuto{
    background: #f5f5f5;
    border: 1px solid #ececec;
    font-size: 14px;
    color: #252a2b;
    font-weight: 500;
    width: 100%;
    height: 45px;
    padding: 0 55px 0 20px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
    transition: all 150ms linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.btn-search{
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    background: transparent;
    outline: none;
    transition: opacity 150ms linear;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.header-user-search{
    position: relative;
}
.search-form{
    position: absolute;
    top:-20px;right: -90px;
    width: 398px;
    padding: 15px;
    margin: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}
.btn-arrow{
    height: 10px;
    width: 10px;
    position: absolute;
    background: rgb(255, 255, 255);
    transform: rotate(223deg);
    margin: -5px;
    z-index: -1;
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 1px;
    top: 0%;
    right: 20%;

}
.form-site{
    position: relative;
}
.search-form p{
    font-size: 17px;
    color: #252a2b;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
    font-weight: 500;
    padding: 6px 10px;
    text-align: center;
    border-bottom: 1px solid #ededed;
}

.header-user-cart i,.header-user-search i,.header-user-account i{
    color: tomato;
}
.header-user-cart i.fa-bag-shopping{
    position: relative;
    font-size: 30px;
}
.header-user-cart i span{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 12px;
}
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(180deg);
    }
}
@keyframes scroll_menu_to {
    from{
        opacity: 0;
        transform-origin: 0 0;
        transform: scale(1,0);
    }
    to{
        opacity: 1;
        transform-origin: 0 0;
        transform: scale(1,1);
    }
}
@keyframes scroll_menu_from {
    to{
        opacity: 0;
        transform-origin: 0 0;
        transform: scale(1,0);
        display: none;
    }
}
/*  */
/* animation submenu2 */
@keyframes scroll_menu_right {
    from{
        opacity: 0;
        transform-origin: 0 0;
        transform: scale(0,1);
    }
    to{
        opacity: 1;
        transform-origin: 0 0;
        transform: scale(1,1);
    }
}
@keyframes scroll_menu_left {
    to{
        opacity: 0;
        transform-origin: 0 0;
        transform: scale(0,1);
    }
}
/*  */


