.address{
    padding: 0 15px;
    width: 75%;
    margin: 30px auto;
}

.address .wrapper-address{
    margin-left: 80px;
}
.address .heading-page h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.2;
}
.wrapper-content-page .content-page h1{
    color: #e74c3c;
    font-size: 36px;
    line-height: 1.2;
}
.wrapper-content-page .content-page h3{
    font-weight: 500;
    font-size: 24px;
}
