.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-found h1{
    margin: 200px auto;
    font-size: 50px;
}
.pageNot{
    text-align: center;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px 0;
}
.pageNot .page-not-container{
    padding: 0 15px;
}
.content-pagenot h1{
    font-weight: 700;
    font-size: 40px;
    color: #252a2b;
    margin: 0 0 13px 0;
}
.content-pagenot p{
    margin-bottom: 10px;
    line-height: 21px;
    font-weight: 500;
    opacity: 0.66;
}
.content-pagenot a{
    font-weight: 500;
    font-size: 16px;
    margin: 30px 0 0;
    display: block;
}
.content-pagenot a::after{
    content: "";
    display: block;
    background: #252a2b;
    width: 80px;
    height: 4px;
    margin: 50px auto 0;
}